/* Advantages Carts */

.advantages-carts {
	&.anim-item {
		opacity: 0;
		transition: .8s;
		&.active {
			opacity: 1;
		}
	}
	display: flex;
	flex-wrap: nowrap;
	&__cart {
		flex: 0 0 25%;
		&:first-child {
			.advantages-carts__icon {
				max-width: 160px;
			}
		}
		&:last-child {
			.advantages-carts__icon {
				max-width: 106px;
			}
		}
		&_black {
			.advantages-carts__text {
				color: #fff;
			}
			.advantages-carts__wrap {
				background: rgba(0, 0, 0, .65);
			}
		}
	}
	&__wrap {
		height: 100%;
		padding: 90px 50px 50px;
		background: rgba(255, 255, 255, .65);
	}
	&__icon {
		max-width: 90px;
		padding: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			max-width: 100%;
		}
	}
	&__title {
		font-size: 28px;
		font-weight: 600;
		color: $red;
		margin-top: 35px;
		line-height: 1;
	}
	&__text {
		margin-top: 30px;
		font-size: 19px;
		color: #2a2a2a;
		line-height: 1.8;
	}
	&__btn {
		&.btn {
			margin-top: 55px;
			font-size: 10px;
			font-weight: 700;
			text-transform: none;
			letter-spacing: 0;
		}
	}
}

@media (max-width: 1400px) {
	/* Advantages */

	.advantages-carts__wrap {
		padding: 35px 35px 35px 10px;
	}

	.advantages-carts__title {
		font-size: 20px;
	}
}

@media (max-width: 991px) {
	/* Advantages */

	.advantages-carts {
		flex-wrap: wrap;
	}

	.advantages-carts__cart {
		flex-basis: 100%;
	}

	.advantages-carts__wrap {
		padding: 40px 35px 65px 10px;
	}
}