/* About */

.about {
	$self: &;
	position: relative;
	//padding: 0 50px;
	overflow: hidden;
	&__inner {
		position: relative;
		z-index: 2;
		display: flex;
		min-height: 92vh;
	}
	&__body {
		max-width: 600px;
	}
	&__content {
		padding-left: calc(8vw + 50px);
		padding-top: 40px;
		padding-bottom: 40px;
		flex: 0 0 50%;
		align-self: center;
	}
	&__image {
		position: relative;
		overflow: hidden;
		z-index: 2;
		flex: 0 0 50%;
		padding-right: 50px;
		padding-left: 8vw;
		&-wrap {
			height: 120vh;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			will-change: transform;
		}
		&-body {
			position: relative;
		}
	}
	&__title {
		margin-bottom: 40px;
		position: relative;
		z-index: 1;
		display: flex;
		align-items: flex-end;
		background: transparent;
		min-height: 110px;
		h3 {
			font-weight: 900;
			font-size: 33px;
			line-height: 40px;
			text-transform: uppercase;
			position: relative;
			z-index: 2;
			display: flex;
			align-items: flex-end;
			margin-top: 56px;
		}
		h2 {
			font-weight: 900;
			font-size: 90px;
			line-height: 110px;
			text-align: center;
			text-transform: uppercase;
			opacity: .4;
			-webkit-text-stroke: 1px $dark;
			color: transparent;
			position: absolute;
			top: 0;
			left: 0;
			white-space: nowrap;
			transform: translate(60px, 0);
			z-index: 1;
		}
	}
	&__text {
		margin-top: 10px;
		font-size: 17px;
		line-height: 140%;
	}
	&_stili {
		#{$self}__image {
			padding-right: calc(8vw + 50px);
			padding-left: 0;
		}
		#{$self}__content {
			padding-right: 8vw;
		}
	}
}

@media (max-width: 1919px) {
	.about {
		padding-bottom: 120px;
	}

	.about__title {
		h2 {
			transform: translate(-48px, 0);
		}
	}
}

@media (max-width: 1439px) {
	.about__title {
		min-height: 85px;
		h2 {
			font-size: 70px;
			line-height: 85px;
		}
		h3 {
			font-size: 28px;
			line-height: 34px;
			margin-top: 42px;
		}
	}
}

@media (max-width: 1279px) {
	.about {
		padding-bottom: 80px;
	}
	.about__text {
		font-size: 14px;
	}
	.about__title {
		margin-bottom: 10px;
		h2 {
			transform: translate(-67px, 0);
		}
		h3 {
			font-size: 22px;
			line-height: 27px;
			margin-top: 48px;
		}
	}
}

@media (max-width: 1023px) {
	.about {
		padding-bottom: 0;
	}
	.about__inner {
		flex-direction: column-reverse;
	}
	.about__content {
		flex-basis: 100%;
		padding: 20px 20px 80px;
	}
	.about__image {
		overflow: hidden;
		flex-basis: 100%;
		padding-left: 0;
		padding-right: 0;
		min-height: 400px;
		&-wrap {
			top: -50vh;
		}
	}
	.about_stili {
		.about__content {
			padding: 20px 20px 80px;
		}
		.about__image {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.about__body {
		max-width: 100%;
	}
	.about__title {
		text-align: center;
		min-height: 73px;
		max-width: 434px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
		h2 {
			font-size: 60px;
			line-height: 73px;
			transform: translate(40px, 0);
		}
		h3 {
			margin-top: 38px;
		}
	}
}

@media (max-width: 767px) {
	.about__image {
		flex-basis: 100%;
		padding-left: 0;
		min-height: 320px;
	}
	.about__title {
		min-height: 49px;
		margin-bottom: 20px;
		h2 {
			font-size: 40px;
			line-height: 49px;
			transform: translate(67px, 0);
		}
		h3 {
			font-size: 17px;
			line-height: 21px;
			margin-top: 23px;
		}
	}
	.about__text {
		font-size: 12px;
		line-height: 135%;
	}
}

@media (max-width: 479px) {
	.about__content {
		padding: 10px 20px 50px;
	}
	.about_stili {
		.about__content {
			padding: 10px 20px 50px;
		}
	}
	.about__title {
		h2 {
			transform: translate(41px, 0);
		}
	}
}