.doubt {
	display: flex;
	&__content {
		overflow: hidden;
		padding: 65px 50px 50px;
		color: $white;
		flex: 0 0 34%;
		background: $dark;
	}
	&__title {
		min-height: 110px;
		position: relative;
		display: flex;
		align-items: flex-end;
		h2 {
			font-weight: 900;
			font-size: 33px;
			line-height: 40px;
			text-transform: uppercase;
			position: relative;
			z-index: 2;
			display: flex;
			align-items: flex-end;
			margin-top: 57px;
		}
		h3 {
			font-weight: 900;
			font-size: 90px;
			line-height: 110px;
			text-align: center;
			text-transform: uppercase;
			opacity: .4;
			-webkit-text-stroke: 1px $white;
			color: transparent;
			position: absolute;
			top: 0;
			left: 0;
			white-space: nowrap;
			transform: translate(15%, 0);
			z-index: 1;
		}
	}
	&__text {
		margin-top: 40px;
		font-size: 17px;
		line-height: 140%;
		max-width: 420px;
	}
	&__inner {
		max-width: 280px;
		margin: 0 auto;
		text-align: center;
	}
	&__form {
		margin-top: 40px;
		&-input {
			input {
				width: 100%;
				opacity: 0.6;
				font-size: 17px;
				line-height: 140%;
				color: $white;
				background: transparent;
				border-bottom: 2px solid $white;
				padding: 10px 0;
				transition: .2s;
				outline: none;
				border-radius: 0px;
				&::placeholder {
					opacity: 1;
					color: $white;
				}
				&:focus {
					opacity: 1;
				}
				&.error {
					color: #D82C2C;
					border-bottom-color: #D82C2C;
					opacity: 1;
					&::placeholder {
						color: #D82C2C;
					}
					+ p {
						display: block;
					}
				}
				&.success {
					color: #2CD847;
					border-bottom-color: #2CD847;
					opacity: 1;
					&::placeholder {
						color: #2CD847;
					}
				}
			}
			p {
				font-size: 14px;
				line-height: 140%;
				color: #D82C2C;
				display: none;
			}
		}
		&-btn {
			margin-top: 20px;
			.btn {
				width: 100%;
			}
		}
	}
	&__socials {
		margin-top: 40px;
		display: flex;
		justify-content: center;
		li {
			margin-right: 40px;
			&:last-child {
				margin-right: 0;
			}
			a {
				.iconify {
					font-size: 60px;
					color: $red;
				}
			}
		}
	}
	&__info {
		margin-top: 80px;
		&-text {
			font-weight: 600;
			font-size: 27px;
			line-height: 33px;
		}
		&-address {
			font-size: 17px;
			line-height: 140%;
			margin-top: 20px;
		}
		&-time {
			font-weight: 600;
			font-size: 22px;
			line-height: 27px;
			margin-top: 20px;
		}
	}
	&__map {
		position: relative;
		z-index: 3;
		flex: 0 0 66%;
	}
}

@media (max-width: 1440px) {
	.doubt__title h3 {
		transform: translate(0, 0);
	}

	.doubt__info {
		margin-top: 40px;
	}

	.doubt__socials {
		margin-top: 20px;
	}

	.doubt__form {
		margin-top: 20px;
	}

	.doubt__info-time {
		margin-top: 10px;
	}

	.doubt__info-address {
		margin-top: 10px;
	}
}

@media (max-width: 1280px) {
	.doubt__content {
		padding: 40px 50px 10px;
	}

	.doubt__title {
		min-height: 85px;
	}

	.doubt__title h2 {
		font-size: 28px;
		margin-top: 41px;
		line-height: 34px;
	}

	.doubt__title h3 {
		font-size: 70px;
		line-height: 85px;
	}
}

@media (max-width: 1024px) {
	.doubt__title {
		min-height: 61px;
	}

	.doubt__title h3 {
		font-size: 50px;
		line-height: 61px;
	}

	.doubt__title h2 {
		font-size: 28px;
		line-height: 34px;
		margin-top: 21px;
	}

	.doubt__text {
		margin-top: 20px;
	}

	.doubt__info-text {
		font-size: 17px;
		line-height: 21px;
	}

	.doubt__info-address {
		font-size: 14px;
		line-height: 140%;
	}

	.doubt__info-time {
		font-size: 14px;
		line-height: 17px;
	}

	.doubt__socials li a .iconify {
		font-size: 40px;
	}
}

@media (max-width: 900px) {
	.doubt {
		flex-direction: column;
	}

	.doubt__content {
		margin-bottom: -80px;
		max-width: 540px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		z-index: 4;
		padding: 50px 35px 25px;
	}

	.doubt__map {
		padding-bottom: 64%;
	}

	.doubt__title {
		min-height: 61px;
	}

	.doubt__title h2 {
		font-size: 22px;
		line-height: 27px;
		margin-top: 0;
		top: -7px;
	}

	.doubt__title h3 {
		font-size: 50px;
		line-height: 61px;
	}

	.doubt__text {
		font-size: 14px;
		line-height: 140%;
		max-width: 100%;
	}
}

@media (max-width: 575px) {
	.doubt__content {
		margin-bottom: 0;
	}
}

@media (max-width: 320px) {
	.doubt__title {
		text-align: center;
	}

	.doubt__title h2 {
		font-size: 17px;
		line-height: 21px;
		margin-left: auto;
		margin-right: auto;
	}

	.doubt__title h3 {
		transform: translate(-50%, 0);
		left: 50%;
	}

	.doubt__content {
		padding: 30px 20px;
	}
}