/* Header */

.header {
	$self: &;
	&_main {
		overflow: hidden;
		position: relative;
		#{$self}__images {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			&-image {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				transition: opacity .15s linear, transform 5.65s linear;
				&.active {
					z-index: 2;
				}
			}
		}
		#{$self}__content {
			padding-bottom: 30px;
			background-color: rgba(0, 0, 0, .7);
			position: relative;
			z-index: 2;
			color: #fff;
			&-title {
				margin-top: 125px;
				color: $red;
				font-size: 135px;
				font-weight: 700;
				perspective: 1000px;
				position: relative;
				left: -7px;
				span {
					display: inline-block;
					animation: mainTitleEffect 9s infinite;
					transform-style: preserve-3d;
					transform-origin: 50% 100%;
				}
			}
			&-text {
				line-height: 1;
				font-size: 45px;
				font-weight: 500;
				margin-top: 15px;
			}
			&-slogan {
				line-height: 1.8;
				text-align: center;
				font-size: 30px;
				font-weight: 500;
				margin-top: 265px;
				span {
					color: $red;
				}
			}
		}
	}
	&_forhouse {
		overflow: hidden;
		position: relative;
		#{$self}__images {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			&-image {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				transition: opacity .15s linear, transform 5.65s linear;
				&.active {
					z-index: 2;
				}
			}
		}
		#{$self}__content {
			padding-bottom: 240px;
			background: rgba(0, 0, 0, .7) url('../img/background.png') no-repeat center center /contain;
			position: relative;
			z-index: 2;
			color: #fff;
			&-wrap {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}
			&-title {
				text-transform: uppercase;
				margin-top: 135px;
				font-size: 100px;
				font-weight: 700;
				line-height: 1.2;
				position: relative;
				> span {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					visibility: hidden;
					opacity: 0;
					span {
						display: inline-block;
						animation-duration: .7s;
						animation-fill-mode: both;
					}
					&.active {
						position: static;
						visibility: visible;
						opacity: 1;
					}
				}
			}
			&-subtitle {
				margin-top: 70px;
				font-size: 47px;
				font-weight: 700;
				line-height: 1;
				color: $red;
				transition: .8s;
				opacity: 0;
				&.active {
					opacity: 1;
				}
			}
			&-text {
				margin-top: 70px;
				font-size: 28px;
				line-height: 1;
				max-width: 670px;
				transition: .8s;
				opacity: 0;
				transform: translate(0, 200%);
				&.active {
					opacity: 1;
					transform: translate(0, 0);
				}
			}
			&-btn {
				margin-top: 120px;
				text-align: center;
				font-weight: 800;
			}
		}
	}
	&_forroom {
		overflow: hidden;
		position: relative;
		#{$self}__images {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			&-image {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				transition: opacity .15s linear, transform 5.65s linear;
				&.active {
					z-index: 2;
				}
			}
		}
		#{$self}__content {
			padding-bottom: 240px;
			background: rgba(0, 0, 0, .7) url('../img/background.png') no-repeat center center /contain;
			position: relative;
			z-index: 2;
			color: #fff;
			&-wrap {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}
			&-title {
				max-width: 650px;
				margin-top: 140px;
				font-size: 60px;
				font-weight: 600;
				line-height: 1.2em;
			}
			&-btn {
				padding: 9px 20px;
			}
		}
		#{$self}__texts {
			display: inline-block;
			padding: .2em 0;
			margin-top: 10px;
			margin-bottom: 70px;
			transition: .3s;
			overflow: hidden;
			color: $red;
			line-height: 1.2;
			font-size: 42px;
			font-weight: 600;
			&-examples {
				position: absolute;
				top: -9999px;
				left: -9999px;
				opacity: 0;
				visibility: hidden;
				span {
					white-space: nowrap;
				}
			}
			&-text {
				transition: 0.3s;
				border-right: 2px solid #0d0d0d;
				span {
					white-space: nowrap;
					padding-right: 9px;
				}
			}
		}
	}
	&_simple {
		overflow: hidden;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		#{$self}__wrap {
			background: rgba(0, 0, 0, .7);
		}
		#{$self}__content {
			padding-bottom: 80px;
			&-title {
				margin-top: 240px;
				color: #dedede;
				font-size: 93px;
				text-transform: uppercase;
				font-weight: 700;
				line-height: 1;
			}
		}
	}
	&_simple-2 {
		#{$self}__content-title {
			padding-left: 100px;
			font-size: 66px;
			max-width: 750px;
		}
	}
	&_simple-3 {
		overflow: hidden;
		background-position: center center;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		#{$self}__wrap {
			background: rgba(0, 0, 0, .7);
		}
		#{$self}__content {
			padding-bottom: 80px;
			&-title {
				margin-top: 240px;
				color: #fff;
				font-size: 46px;
				text-transform: uppercase;
				font-weight: 600;
				line-height: 1;
				max-width: 50%;
			}
		}
	}
	&_withhover {
		overflow: hidden;
		position: relative;
		#{$self}__slider {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			&-image {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				transition: .15s linear;
				animation: withhoverHideHeaderSlider 1s both;
				opacity: 0;
				background-attachment: fixed;
				&.active {
					opacity: 1;
				}
			}
		}
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		#{$self}__slider {
			&.active {
				.header__slider-image {
					animation: withhoverShowHeaderSlider 1s both;
				}
			}
		}
		#{$self}__wrap {
			position: relative;
			z-index: 10;
			background: rgba(20, 20, 20, .84);
			transition: .3s;
			&:hover {
				background: rgba(20, 20, 20, .5);
			}
		}
		#{$self}__content {
			padding-top: 110px;
			padding-bottom: 110px;
			&-title {
				color: #e2e3df;
				font-size: 68px;
				text-transform: uppercase;
				text-align: center;
				font-weight: 700;
				opacity: 0;
				transition: .8s;
				&.active {
					opacity: 1;
				}
			}
		}
	}
	&_kontakty-forroom {
		#{$self}__content {
			display: flex;
			iframe {
				width: 100%;
				height: 470px;
				padding-bottom: 0;
			}
		}
	}
	&_service {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		#{$self}__content {
			display: flex;
			align-items: center;
			min-height: 100vh;
			background: rgba(21, 21, 21, .8);
			color: #fff;
			padding-bottom: 10px;
			&-wrap {
				padding-top: 10px;
				display: flex;
				align-items: center;
			}
			&-offer {
				padding-right: 100px;
				flex: 0 0 50%;
			}
			&-title {
				font-size: 60px;
				font-weight: 500;
				line-height: 1.3em;
				opacity: 0;
				transform: translate(-100%, 0);
				transition: .8s;
				&.active {
					opacity: 1;
					transform: translate(0, 0);
				}
			}
			&-subtitle {
				font-size: 26px;
				font-weight: 500;
				line-height: 1.4em;
				margin-top: 45px;
				opacity: 0;
				transform: translate(-100%, 0);
				transition: .8s;
				transition-delay: .2s;
				&.active {
					opacity: 1;
					transform: translate(0, 0);
				}
			}
			&-price {
				font-size: 32px;
				font-weight: 600;
				line-height: 1;
				color: $red;
				transition: .3s;
				margin-bottom: 45px;
				margin-top: 45px;
				&:hover {
					color: #fff;
				}
			}
			&-image {
				overflow: hidden;
				flex: 0 0 50%;
				img {
					max-width: 100%;
				}
			}
			&-btn {
				padding: 9px 20px;
			}
		}
		#{$self}__dots {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		#{$self}__dot {
			transform: translate(-50%, 0);
			position: absolute;
			&-text {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -220%);
				white-space: nowrap;
				padding: 5px 11px;
				background: #6a6a6a;
				border-radius: 12px;
				transition: .3s;
				z-index: 2;
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translate(-50%, 100%);
					border: 8px solid transparent;
					border-top: 8px solid #6a6a6a;
				}
			}
			&-icon {
				transition: .3s;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: .3s;
				width: 47px;
				height: 47px;
				background: $red;
				i {
					transition: .3s;
					font-size: 25px;
				}
			}
			&:hover {
				.header__dot-icon {
					background: #fff;
					i {
						color: $red;
					}
				}
				.header__dot-text {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	&_paket {
		#{$self}__content {
			&-image {
				display: flex;
				justify-content: flex-end;
			}
			&-img {
				position: relative;
				max-width: 80%;
			}
		}
	}
	&_stili-remonta {
		#{$self}__body {
			min-height: 92vh;
			padding: 20vh 0 50px;
			text-align: center;
			transition: 1s;
			opacity: 0;
		}
		#{$self}__title {
			font-weight: 900;
			font-size: 90px;
			line-height: 110px;
			text-align: center;
			letter-spacing: 0.032em;
			text-transform: uppercase;
			color: transparent;
			-webkit-text-stroke: 3px $dark;
			-webkit-text-fill-color: transparent;
		}
		&.active {
			#{$self}__body {
				opacity: 1;
			}
		}
	}
	&_repair {
		position: relative;
		#{$self}__inner {
			position: relative;
			z-index: 2;
			display: flex;
			min-height: 79vh;
			&.active {
				#{$self}__body {
					opacity: 1;
					transform: translate(0, 0);
				}
				#{$self}__image {
					opacity: 1;
					transform: translate(0, 0);
				}
				#{$self}__text {
					opacity: 1;
				}
				#{$self}__btn {
					opacity: 1;
				}
			}
		}
		#{$self}__body {
			overflow: hidden;
			padding-top: 130px;
			padding-bottom: 130px;
			position: relative;
			z-index: 3;
			flex: 0 0 42%;
			&-wrap {
				min-height: 100%;
				padding: 125px 50px;
				background: $dark;
				color: $white;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			transition: .8s;
			opacity: 0;
			transform: translate(0, 50%);
		}
		#{$self}__image {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			padding-left: calc(50px + 16vw);
			z-index: 2;
			.swiper {
				height: 100%;
				width: 100%;
			}
			transition: .8s;
			opacity: 0;
			transform: translate(0, 50%);
		}
		#{$self}__img {
			height: 100%;
		}
		#{$self}__title {
			font-weight: 900;
			font-size: 48px;
			line-height: 59px;
			text-transform: uppercase;
			opacity: 1;
			&::before {
				content: '';
				position: absolute;
				height: 2px;
				width: 100%;
				display: block;
				background-color: $red;
				bottom: calc(50% - 1px);
				animation: line 2000ms;
				animation-fill-mode: forwards;
				animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
				transform-origin: left;
				transform: translateX(0) scaleX(0);
				// animation-iteration-count: infinite;
			}
			.char {
				display: inline-block;
				position: relative;
				animation-duration: 2000ms;
				animation-fill-mode: forwards;
				animation-name: kern;
				animation-delay: calc(var(--char-index) * 5ms);
				animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
				opacity: 0;
				// animation-iteration-count: infinite;
			}
		}
		#{$self}__text {
			font-weight: 600;
			font-size: 27px;
			line-height: 33px;
			color: $white;
			margin-top: 40px;
			transition: .8s .8s;
			opacity: 0;
		}
		#{$self}__btn {
			margin-top: 20px;
			transition: .8s .8s;
			opacity: 0;
		}
	}
	&_anim {
		overflow: hidden;
		position: relative;
		#{$self}__body {
			position: relative;
			z-index: 3;
			padding-top: 200px;
			padding-bottom: 40px;
			text-align: center;
			padding-right: 20px;
			padding-left: 20px;
		}
		#{$self}__title {
			font-weight: 900;
			font-size: 120px;
			line-height: 146px;
			text-transform: uppercase;
			color: transparent;
			-webkit-text-stroke: 1px $white;
		}
		#{$self}__text {
			font-weight: 900;
			font-size: 48px;
			line-height: 59px;
			text-transform: uppercase;
			color: $white;
			max-width: 1000px;
			margin-left: auto;
			margin-right: auto;
			margin-top: -75px;
		}
		#{$self}__btn {
			display: none;
			margin-top: 40px;
		}
		#{$self}__anim-background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			.swiper {
				height: 100%;
			}
			.swiper-slide {
				height: 100%;
			}
		}
		#{$self}__lines {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			display: flex;
			justify-content: space-between;
			padding: 0 calc(50px + 16vw);
			background: transparent;
			span {
				transition: height .8s .8s;
				display: block;
				border-left: 1px solid $white;
				height: 100%;
				opacity: 0.5;
			}
		}
		#{$self}__inner {
			min-height: 100vh;
			width: 100%;
			display: flex;
			flex-direction: column;
			transition: opacity 1s;
			opacity: 1;
			position: relative;
			z-index: 5;
			mix-blend-mode: lighten;
		}
		#{$self}__cover {
			position: absolute;
			top: 0;
			left: -1px;
			width: 100%;
			height: 100%;
			display: flex;
			> span {
				width: calc(16vw + 50px);
				&:last-child {
					width: calc(16vw + 50px + 1px);
				}
			}
			span {
				position: relative;
				display: block;
				height: 100%;
				background: transparent;
				&::before {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					right: 0;
					background: #000;
					transition: .5s;
				}
			}
			&-inner {
				width: calc(100% - (16vw + 50px) * 2);
				display: flex;
				flex-wrap: nowrap;
				span {
					flex: 0 0 25%;
					width: 25%;
				}
			}
			&.hide {
				> span, #{$self}__cover-inner span {
					&::before {
						width: 0;
					}
				}
			}
		}
		#{$self}__menu {
			.menu__wrap {
				padding: 40px calc(50px + 16vw);
				max-width: 100%;
				background: transparent;
			}
		}
		#{$self}__menus {
			display: none;
			position: relative;
			z-index: 6;
			margin-top: auto;
			.menu {
				&:last-child {
					display: none;
				}
			}
		}
	}
}

@keyframes mainTitleEffect {
	0% {
		opacity: 1;
		transform: rotateY(0deg);
	}

	84% {
		opacity: 1;
		transform: rotateY(0deg);
	}

	90% {
		opacity: 0;
		transform: rotateY(50deg);
	}

	93% {
		opacity: 0;
		transform: rotateY(-80deg);
	}

	100% {
		opacity: 1;
		transform: rotateY(0deg);
	}
}

@keyframes forhouseShowHeaderText {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}

	20% {
		transform: translateY(15%);
	}

	30% {
		transform: translateY(-30%);
	}

	45% {
		transform: translateY(8%);
	}

	70% {
		transform: translateY(-8%);
	}

	85% {
		transform: translateY(4%);
	}

	85% {
		transform: translateY(-2%);
	}

	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes forhouseHideHeaderText {
	0% {
		transform: translateY(0%);
		opacity: 1;
	}

	80% {
		transform: translateY(0%);
		opacity: 1;
	}

	100% {
		transform: translateY(-100%);
		opacity: 0;
	}
}

@keyframes withhoverShowHeaderSlider {
	0% {
		background-position: center 20%;
	}

	100% {
		background-position: center 30%;
	}
}

@keyframes withhoverHideHeaderSlider {
	0% {
		background-position: center 40%;
	}

	100% {
		background-position: center 30%;
	}
}

@media (max-width: 1440px) {
	.header_anim .header__body {
		padding-top: 120px;
	}
}

@media (max-width: 1280px) {
	.header_anim {
		.header__body {
			padding-top: 65px;
		}
		.header__text {
			font-size: 40px;
			line-height: 49px;
			margin-top: -67px;
		}
	}
}

@media (max-width: 1024px) {
	.header_anim {
		.header__title {
			font-size: 90px;
			line-height: 110px;
		}
		.header__text {
			font-size: 40px;
			line-height: 49px;
			margin-top: -61px;
		}
		.header__lines {
			padding: 0 calc(50px + 8vw);
		}
		.header__cover {
			> span {
				width: calc(8vw + 50px);
				&:last-child {
					width: calc(8vw + 50px + 1px);
				}
			}
			&-inner {
				width: calc(100% - (8vw + 50px) * 2);
			}
		}
	}
}

@media (max-width: 850px) {
	.header_anim {
		.header__title {
			font-size: 70px;
			line-height: 85px;
		}
		.header__text {
			font-size: 26px;
			line-height: 32px;
			max-width: 580px;
			margin-left: auto;
			margin-right: auto;
			margin-top: -42px;
		}
		.header__btn {
			margin-top: 30px;
		}
		.header__inner {
			justify-content: center;
		}
		.header__body {
			padding-top: 70px;
			padding-bottom: 10px;
		}
	}
}

@media (max-width: 768px) {
	.header_anim {
		.header__body {
			margin-top: auto;
			margin-bottom: auto;
		}
		.header__lines {
			padding: 0 calc(50px + 16vw);
			span {
				&:nth-child(4), &:nth-child(5) {
					display: none;
				}
			}
		}
		.header__cover {
			> span {
				width: calc(16vw + 50px);
				&:last-child {
					width: calc(16vw + 50px + 1px);
				}
			}
			&-inner {
				width: calc(100% - (16vw + 50px) * 2);
				&:nth-child(3), &:nth-child(4) {
					display: none;
				}
				span {
					flex: 0 0 50%;
					width: 50%;
				}
			}
		}
		.header__menus {
			display: block;
		}
	}
}

@media (max-width: 480px) {
	.header_anim {
		.header__title {
			font-size: 50px;
			line-height: 61px;
		}
		.header__text {
			font-size: 22px;
			line-height: 27px;
			margin-top: -33px;
		}
		.header__btn {
			margin-top: 40px;
		}
		.header__lines {
			padding: 0 20px;
			span {
				&:nth-child(4), &:nth-child(5) {
					display: none;
				}
			}
		}
		.header__cover {
			> span {
				width: 20px;
			}
			&-inner {
				width: calc(100% - 20px * 2);
				span {
					flex: 0 0 50%;
					width: 50%;
				}
			}
		}
		.header__menus {
			.menu {
				&:last-child {
					display: block;
				}
				&:first-child {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 320px) {
	.header_anim {
		.header__text {
			font-size: 22px;
			line-height: 27px;
			margin-top: 0;
		}
		.header__btn {
			margin-top: 80px;
			.btn {
				padding: 15px;
				width: 100%;
			}
		}
	}
}

@media (max-width: 991px) {
	/* Header */

	.header_forhouse {
		.header__content-subtitle {
			font-size: 34px;
		}
	
		.header__content-text {
			font-size: 20px;
			max-width: 500px;
		}
	}

	.header_main {
		.header__content {
			padding-bottom: 50px;
			.container {
				padding: 0 7px;
			}
			&-title {
				margin-top: 150px;
				font-size: 108px;
			}
			&-text {
				font-size: 36px;
			}
		}
	}

	.header_forroom {
		.header__content {
			padding-bottom: 190px;
			&-title {
				font-size: 39px;
				max-width: 500px;
				margin-top: 90px;
			}
		}

		.header__texts {
			margin-top: 0;
			font-size: 25px;
		}
	}

	.header_simple {
		.header__content-title {
			margin-top: 105px;
			font-size: 68px;
		}

		.header__content {
			padding-bottom: 35px;
		}
	}

	.header_withhover {
		.header__content-title {
			font-size: 48px;
		}
	}

	.header_forroom {
		.header__content-title {
			margin-top: 105px;
			font-size: 68px;
		}
	
		.header__content {
			padding-bottom: 35px;
		}
	}

	.header_simple-2 {
		.header__content-title {
			padding-left: 0;
			font-size: 40px;
			max-width: unset;
		}
	}

	.header_simple-3 {
		.header__content-title {
			font-size: 37px;
			margin-top: 120px;
		}
	}

	.header_service {
		.header__content-title {
			font-size: 50px;
		}
		.header__content-subtitle {
			font-size: 24px;
		}
		.header__content-offer {
			padding-right: 40px;
		}
	}
}

@media (max-width: 1440px) {
	.header_stili-remonta {
		.header__body {
			min-height: 75vh;
			padding-top: 25vh;
		}
	}

	.header_repair {
		.header__title {
			font-size: 40px;
			line-height: 49px;
		}
		.header__text {
			font-size: 22px;
			line-height: 27px;
		}
		.header__body-wrap {
			padding: 55px 50px;
		}
	}
}

@media (max-width: 1280px) {
	.header_repair {
		.header__text {
			font-size: 17px;
			line-height: 21px;
		}
		.header__body-wrap {
			padding: 55px 50px;
		}
	}
}

@media (max-width: 1024px) {
	.header_repair {
		.header__title {
			font-weight: 900;
			font-size: 26px;
			line-height: 32px;
		}
	}

	.header_stili-remonta {
		.header__body {
			padding-top: 21vh;
		}
	}
}

@media (max-width: 950px) {
	.header_stili-remonta {
		.header__title {
			font-size: 70px;
			line-height: 85px;
		}
		.header__body {
			padding-top: 14vh;
		}
	}
}

@media (max-width: 768px) {
	.header_repair {
		.header__body {
			flex-basis: 50%;
		}
		.header__body-wrap {
			padding: 40px 20px 40px 40px;
		}
	}
}

@media (max-width: 480px) {
	.header_stili-remonta {
		.header__body {
			min-height: 100vh;
			padding-top: 18vh;
		}
	}
}

@media (max-width: 575px) {
	.header_stili-remonta {
		.header__title {
			line-height: 50px;
			font-size: 36px;
		}
	}
}

@media (max-width: 850px) {
	.header_service {
		.header__content-wrap {
			flex-direction: column;
		}
		.header__content-offer {
			padding-right: 0;
			text-align: center;
			padding-bottom: 20px;
		}
		.header__content-title {
			font-size: 30px;
		}
		.header__content-subtitle {
			font-size: 17px;
		}
		.header__content-price {
			font-size: 25px;
		}
		.header__content {
			padding-bottom: 100px;
		}
	}

	.header_paket {
		.header__content-img {
			max-width: 100%;
		}
	}
}

@media (max-width: 767px) {
	/* Header */

	.header_simple {
		.header__content-title {
			text-align: center;
			margin-top: 55px;
			font-size: 47px;
		}

		.header__content {
			padding-bottom: 75px;
		}
	}

	.header_forhouse {
		.header__content {
			padding-bottom: 130px;
			&-title {
				font-size: 32px;
				margin-top: 110px;
			}
			&-subtitle {
				font-size: 25px;
			}
			&-btn {
				margin: 120px auto 0;
			}
		}
	}

	.header_main {
		.header__content {
			padding-bottom: 75px;
			&-title {
				font-size: 53px;
				margin-top: 110px;
				left: 0;
			}
			&-text {
				font-size: 26px;
			}
			&-slogan {
				font-size: 20px;
			}
		}
	}

	.header_forroom {
		.header__content {
			padding-bottom: 120px;
			&-title {
				font-size: 27px;
				max-width: 100%;
				margin-top: 80px;
			}
			&-btn {
				margin: 0 auto;
			}
		}

		.header__texts {
			margin-bottom: 170px;
			margin-top: 40px;
			font-size: 26px;
		}
	}

	.header_withhover {
		.header__content {
			padding-bottom: 90px;
			padding-top: 90px;
		}

		.header__content-title {
			font-size: 25px;
		}
	}

	.header_kontakty-forroom {
		.header__content-title {
			text-align: center;
			margin-top: 55px;
			font-size: 47px;
		}

		.header__content {
			padding-bottom: 75px;
		}
	}

	.header_simple-2 {
		.header__content-title {
			font-size: 27px;
		}
	}

	.header_simple-3 {
		.header__content {
			padding-bottom: 100px;
		}
		.header__content-title {
			text-align: center;
			max-width: 100%;
			font-size: 28px;
			margin-top: 60px;
		}
	}
}

@media (max-width: 575px) {
	/* Header */

	.header_forhouse {
		.header__content-title {
			margin-top: 55px;
		}
	}

	.header_forroom {
		.header__content-title {
			margin-top: 55px;
		}
	}

	.header_repair {
		.header__body {
			padding-top: 50px;
			flex-basis: 100%;
			padding-bottom: 0;
			&-wrap {
				padding: 40px 20px 20px;
			}
		}
		.header__image {
			padding-left: 0;
		}
		.header__text {
			font-size: 14px;
			line-height: 17px;
		}
		.header__title {
			font-size: 22px;
			line-height: 27px;
		}
		.header__btn {
			text-align: center;
		}
		.header__inner {
			align-items: flex-start;
		}
	}
}

@media (max-width: 400px) {
	/* Header */

	.header_main {
		.header__content {
			padding-bottom: 28px;
			&-title {
				margin-top: 65px;
			}
			&-slogan {
				margin-top: 275px;
			}
		}
	}

	.header_forhouse {
		.header__content-title {
			margin-top: 120px;
		}
	}
}

@media (max-width: 320px) {
	.header_repair {
		.header__body {
			padding-top: 0;
			&-wrap {
				padding: 20px;
			}
		}
		.header__inner {
			flex-direction: column;
		}
		.header__image {
			position: static;
			.swiper-slide {
				min-height: 200px;
			}
		}
	}
}