.order {
	display: flex;
	min-height: 92vh;
	$self: &;
	&__image {
		flex: 0 0 58%;
	}
	&__content {
		background: $dark;
		padding-top: 130px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		height: 100%;
		flex: 0 0 42%;
		color: $white;
		padding: 150px 8vw;
		overflow-y: auto;
		overflow-x: hidden;
		transition: .8s;
		opacity: 0;
		transform: translate(0, 50%);
		&.active {
			opacity: 1;
			transform: translate(0, 0);
		}
		&-wrap {
			max-width: 530px;
		}
	}
	&__title {
		font-weight: 600;
		font-size: 27px;
		line-height: 33px;
	}
	&__text {
		font-size: 17px;
		line-height: 140%;
		margin-top: 40px;
	}
	&__btn {
		margin-top: 20px;
	}
	&__online {
		margin-top: 80px;
		display: flex;
		align-items: center;
		&-icon {
			display: flex;
			.lottie-player {
				width: 80px;
				height: 80px;
				flex: 0 0 80px;
			}
		}
		&-text {
			margin-left: 20px;
			font-weight: 600;
			font-size: 22px;
			line-height: 27px;
			color: $white;
		}
	}
	&_main {
		#{$self}__content {
			&.active {
				#{$self}__title {
					opacity: 1;
					.word {
						display: inline-block;
						opacity: 0;
						filter: blur(4px);
						animation: fade-in 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
					}
					transform: scale(0.94);
					animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
				}
				#{$self}__text {
					opacity: 1;
					.word {
						display: inline-block;
						opacity: 0;
						filter: blur(4px);
						animation: fade-in 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
					}
					transform: scale(0.94);
					animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
				}
			}
		}
	}
	&_half {
		#{$self}__image {
			flex-basis: 50%;
		}
		#{$self}__content {
			flex-basis: 50%;
			&-wrap {
				max-width: 620px;
			}
			&.active {
				#{$self}__title {
					opacity: 1;
					&::before {
						content: '';
						position: absolute;
						height: 2px;
						width: 100%;
						display: block;
						background-color: $red;
						bottom: calc(50% - 1px);
						animation: line 2000ms;
						animation-fill-mode: forwards;
						animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
						transform-origin: left;
						transform: translateX(0) scaleX(0);
						// animation-iteration-count: infinite;
					}
					.char {
						display: inline-block;
						position: relative;
						animation-duration: 2000ms;
						animation-fill-mode: forwards;
						animation-name: kern;
						animation-delay: calc(var(--char-index) * 5ms);
						animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
						opacity: 0;
						// animation-iteration-count: infinite;
					}
				}
				#{$self}__text {
					opacity: 1;
					.word {
						display: inline-block;
						opacity: 0;
						filter: blur(4px);
						animation: fade-in 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
					}
					transform: scale(0.94);
					animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
				}
			}
		}
		#{$self}__title {
			font-weight: 900;
			font-size: 33px;
			line-height: 40px;
		}
		#{$self}__online {
			align-items: flex-start;
		}
	}
}

@keyframes scale {
	100% {
		transform: scale(1);
	}
}
@keyframes fade-in {
	100% {
		opacity: 1;
		filter: blur(0);
	}
}

@media (max-width: 1440px) {
	.order__content {
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media (max-width: 1280px) {
	.order__title {
		font-size: 22px;
		line-height: 27px;
	}

	.order__online-text {
		font-size: 17px;
		line-height: 21px;
	}
}

@media (max-width: 1024px) {
	.order__title {
		font-size: 17px;
		line-height: 21px;
	}

	.order__text {
		font-size: 14px;
		line-height: 140%;
	}

	.order__online-text {
		font-size: 14px;
		line-height: 17px;
	}

	.order_half .order__title {
		font-size: 28px;
		line-height: 34px;
	}

	.order__online-icon .lottie-player {
		width: 60px;
		height: 60px;
		flex: 0 0 60px;
	}
}

@media (max-width: 768px) {
	.order {
		position: relative;
	}

	.order__content {
		flex-basis: 50%;
		width: 50%;
		position: absolute;
		top: 0;
		right: 0;
		padding: 80px 25px 50px;
	}

	.order__image {
		flex-basis: 100%;
	}

	.order_half .order__image {
		flex-basis: 100%;
	}

	.order_half .order__title {
		font-size: 22px;
		line-height: 27px;
	}
}

@media (max-width: 700px) {
	.order__content {
		flex-basis: 100%;
		width: 100%;
	}

	.order__btn {
		text-align: center;
	}
}

@media (max-width: 375px) {
	.order__title {
		font-size: 14px;
		line-height: 17px;
	}

	.order__text {
		font-size: 12px;
		line-height: 135%;
	}

	.order__online-text {
		font-size: 11px;
		line-height: 13px;
	}

	.order_half .order__title {
		font-size: 17px;
		line-height: 21px;
	}
}