/* Popup */

.popup {
	transition: .6s;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(24, 7, 6, .8);
	width: 100%;
	height: 100%;
	z-index: 200;
	visibility: hidden;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	&.open {
		visibility: visible;
		opacity: 1;
	}
	&__body {
		max-width: 500px;
		width: 100%;
		background: $white;
		animation: closePopup 1.2s forwards ease-in;
		padding: 0;
		overflow-x: hidden;
		max-width: 800px;
		display: flex;
		flex-direction: column;
	}
	&__close {
		cursor: pointer;
	}
}

/* Base Popup */

.base-popup {
	padding: 10px;
	&__body {
		max-width: 640px;
		width: 100%;
		color: $dark;
	}
	&__close {
		margin-left: auto;
		.iconify {
			font-size: 40px;
			color: $red;
		}
	}
	&__inner {
		padding: 40px 40px 80px;
	}
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		text-align: center;
		font-weight: 600;
		font-size: 22px;
		line-height: 27px;
	}
	&__inputs {
		max-width: 350px;
		width: 100%;
		display: flex;
		flex-direction: column;
		label {
			margin-top: 40px;
			display: flex;
			flex-direction: column;
			> span {
				font-size: 17px;
				line-height: 140%;
			}
		}
	}
	&__btn {
		margin-top: 40px;
	}
	&__select {
		margin-top: 10px;
	}
	&__tel {
		margin-top: 15px;
	}
}

@media (max-width: 768px) {
	.base-popup {
		&__title {
			font-size: 17px;
			line-height: 21px;
			text-align: left;
		}
		&__body {
			max-width: 430px;
		}
		&__inputs {
			label {
				> span {
					font-size: 14px;
				}
			}
		}
	}
}

@media (max-width: 320px) {
	.base-popup {
		&__inner {
			padding: 20px 20px 40px;
		}
		&__title {
			font-size: 14px;
			line-height: 17px;
		}
		&__close {
			.iconify {
				font-size: 24px;
			}
		}
		&__inputs label {
			margin-top: 20px;
		}
		&__tel {
			margin-top: 5px;
		}
		&__btn {
			width: 100%;
		}
	}
}

// @keyframes openPopup {
// 	0% {
// 		transform: translate(-100%, 0);
// 	}

// 	100% {
// 		transform: translate(0, 0);
// 	}
// }

// @keyframes closePopup {
// 	0% {
// 		transform: translate(0, 0);
// 	}

// 	100% {
// 		transform: translate(100%, 0);
// 	}
// }

// @keyframes openPopup_1 {
// 	0% {
// 		transform: translate(0, 100%);
// 		opacity: 0;
// 	}

// 	100% {
// 		transform: translate(0, 0);
// 		opacity: 1;
// 	}
// }

// @keyframes closePopup_1 {
// 	0% {
// 		transform: translate(0, 0);
// 		opacity: 1;
// 	}

// 	100% {
// 		transform: translate(0, -100%);
// 		opacity: 0;
// 	}
// }

// @keyframes openPopup_2 {
// 	0% {
// 		opacity: 0;
// 	}

// 	100% {
// 		opacity: 1;
// 	}
// }

// @keyframes closePopup_2 {
// 	0% {
// 		opacity: 1;
// 	}

// 	100% {
// 		opacity: 0;
// 	}
// }

/* Call Popup */

// .base-popup {
// 	&__body {
// 		background-repeat: no-repeat;
// 		background-position: center bottom;
// 		background-size: cover;
// 	}
// 	&__inner {
// 		max-width: 370px;
// 		padding: 55px 20px 35px;
// 		background: linear-gradient(270deg, #000 0%, $red_secondary 100%);
// 		transition: transform .8s 1.5s;
// 		transform: translate(100%, 0);
// 		margin-left: auto;
// 	}
// 	&__close {
// 		width: 25px;
// 		height: 25px;
// 		cursor: pointer;
// 		position: absolute;
// 		top: 1%;
// 		left: 8%;
// 		z-index: 2;
// 		&::before, &::after {
// 			content: '';
// 			display: block;
// 			position: absolute;
// 			left: 0;
// 			width: 25px;
// 			height: 4px;
// 			background: #fff;
// 			border-radius: 2px;
// 		}
// 		&::before {
// 			top: 50%;
// 			transform: translateY(-50%) rotate(45deg);
// 		}
// 		&::after {
// 			bottom: 50%;
// 			transform: translateY(50%) rotate(-45deg);
// 		}
// 		&:hover {
// 			&::before, &::after {
// 				background: #f00;
// 			}
// 		}
// 	}
// 	&__title {
// 		text-align: center;
// 		text-transform: uppercase;
// 		color: #fff;
// 		font-size: 32px;
// 		font-weight: 600;
// 		margin-bottom: 45px;
// 		line-height: 1;
// 	}
// 	&__form {
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 	}
// 	label {
// 		margin-bottom: 11px;
// 		width: 100%;
// 		span {
// 			color: #fff;
// 			display: inline-block;
// 			font-weight: 500;
// 			line-height: 1.5;
// 			margin-bottom: 1px;
// 		}
// 	}
// }

// @media (max-width: 991px) {
// 	/* Popup */

// 	.popup {
// 		align-items: flex-end;
// 		justify-content: flex-start;
// 		&.open {
// 			.base-popup__body {
// 				animation-name: openPopup_1;
// 			}
// 		}
// 		&__body {
// 			animation-name: closePopup_1;
// 		}
// 	}
// }

// @media (max-width: 767px) {
// 	/* Popup */

// 	.popup {
// 		&__body {
// 			height: 100%;
// 			flex-direction: column;
// 		}
// 		&.open {
// 			.base-popup__body {
// 				animation-name: openPopup_2;
// 			}
// 		}
// 		&__body {
// 			animation-name: closePopup_2;
// 		}
// 	}

// 	/* base Popup */

// 	.base-popup__title {
// 		font-size: 30px;
// 	}

// 	.base-popup__inner {
// 		padding: 40px 20px;
// 		max-width: 100%;
// 		width: 100%;
// 		margin: auto 0;
// 	}
// }