/* Portfolio */

.portfolio {
	$self: &;
	&_forroom {
		padding: 95px 0 135px;
		position: relative;
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background: #fff;
			z-index: 1;
			transform: translate(0, -100%);
			clip-path: polygon(100% 100%, 0 0, 0 100%);
			height: 70px;
		}
		#{$self}__title {
			line-height: 1;
			span {
				display: block;
				&:first-child {
					font-size: 80px;
					font-weight: 700;
					color: #eed9d9;
				}
				&:last-child {
					margin-left: 20px;
					font-size: 47px;
					font-weight: 600;
					color: #3e3e3e;
				}
			}
		}
		#{$self}__carts {
			display: flex;
			flex-wrap: wrap;
			margin-top: 50px;
			margin-right: -10px;
		}
		#{$self}__cart {
			flex: 0 1 33.333%;
			display: flex;
			flex-direction: column;
			&:hover {
				.portfolio__cart-content {
					opacity: 1;
				}
			}
			&-wrap {
				min-height: 300px;
				margin-top: 10px;
				margin-right: 10px;
				height: 100%;
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
			}
			&-content {
				opacity: 0;
				transition: .5s;
				background: rgba(3, 3, 3, .6);
				padding: 40px 70px 65px 65px;
				display: flex;
				align-items: center;
				height: 100%;
				width: 100%;
			}
			&-title {
				color: #fff;
				line-height: 1.6;
				font-size: 26px;
				margin-bottom: 10px;
			}
		}
		#{$self}__btn {
			text-align: center;
			margin-top: 70px;
		}
	}
	&_gallery {
		overflow: hidden;
		padding: 80px 0 160px;
		#{$self}__title {
			display: inline-block;
			line-height: 1;
			margin-bottom: 60px;
			span {
				display: block;
				&:first-child {
					font-size: 80px;
					font-weight: 700;
					color: #eed9d9;
				}
				&:last-child {
					margin-left: 20px;
					font-size: 47px;
					font-weight: 600;
					color: #3e3e3e;
				}
			}
		}
		#{$self}__btn {
			text-align: center;
			margin-top: 70px;
		}
	}
	&_page {
		overflow: hidden;
		background: #e9e9e9;
		padding: 80px 0 160px;
		#{$self}__btns {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			border-bottom: 1px solid #e2e2e2;
			&-btn {
				cursor: pointer;
				transition: .4s;
				font-size: 18px;
				font-weight: 600;
				color: #fff;
				background: #474747;
				margin-right: 20px;
				margin-top: 6px;
				line-height: 39px;
				padding: 0 24px;
				&:last-child {
					margin-right: 0;
				}
				&.active {
					background: $red;
				}
			}
		}
		#{$self}__tab {
			height: 0;
			overflow: hidden;
			opacity: 0;
			transition: opacity .3s;
			&.active {
				height: unset;
				opacity: 1;
				margin-top: 26px;
			}
			&-wrap {
				display: flex;
				flex-wrap: wrap;
				margin-right: -4px;
				max-width: 1120px;
				margin: 0 auto;
			}
		}
		#{$self}__cart {
			flex: 0 1 33.333%;
			display: flex;
			flex-direction: column;
			&:hover {
				.portfolio__cart-content {
					opacity: 1;
				}
			}
			&-wrap {
				min-height: 300px;
				margin-top: 4px;
				margin-right: 4px;
				height: 100%;
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
			}
			&-content {
				opacity: 0;
				transition: .5s;
				background: rgba(3, 3, 3, .6);
				padding: 15px;
				display: flex;
				align-items: center;
				height: 100%;
				width: 100%;
			}
			&-title {
				color: #fff;
				line-height: 1.6;
				font-size: 26px;
				margin-bottom: 10px;
			}
		}
	}
	&_service {
		background: #fff;
		#{$self}__title {
			margin-bottom: 60px;
			&-title {
				color: rgba(177, 80, 81, .2);
				font-size: 80px;
				font-weight: 700;
				line-height: 1;
			}
			&-text {
				margin-left: 20px;
				color: #3E3E3E;
				font-size: 44px;
				font-weight: 500;
				line-height: 1;
			}
		}
		#{$self}__btn {
			text-align: center;
			margin-top: 80px;
		}
		.portfolio__tab-wrap {
			max-width: 1260px;
		}
		.portfolio__tab.active {
			margin-top: 5px;
		}
	}
	&_stili {
		overflow: hidden;
		padding: 65px 50px 120px;
		#{$self}__grid {
			margin-top: 25px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-auto-rows: 1fr;
			gap: 20px;
			&-wrap {
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: 1s;
				&::before {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					background: rgba(0, 0, 0, .25);
					transition: .5s;
					opacity: 0;
				}
				&.anim-bottom {
					transform: translate(0, 100%);
				}
				&.anim-left {
					transform: translate(-100%, 0);
				}
				&.anim-right {
					transform: translate(100%, 0);
				}
				&:hover {
					&::before {
						opacity: 1;
					}
					.portfolio__grid-inner {
						opacity: 1;
					}
				}
			}
			&-cart {
				&.active {
					.anim-bottom {
						transform: translate(0, 0);
						opacity: 1;
					}
					.anim-left {
						transform: translate(0, 0);
						opacity: 1;
					}
					.anim-right {
						transform: translate(0, 0);
						opacity: 1;
					}
				}
				position: relative;
				padding-bottom: 49%;
				&.big-column {
					grid-column-start: 2;
					grid-row-start: 1;
					grid-row-end: 3;
				}
				&.big-row {
					grid-column-start: 3;
					grid-row-start: 1;
					grid-column-end: 5;
				}
			}
			&-inner {
				padding: 30px;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
				display: flex;
				justify-content: center;
				align-items: center;
				opacity: 0;
				transition: .5s;
			}
			&-title {
				font-weight: 600;
				font-size: 27px;
				line-height: 33px;
				text-align: center;
				color: $white;
			}
		}
		#{$self}__btn {
			text-align: center;
			margin-top: 40px;
		}
	}
}

@media (max-width: 1440px) {
	.portfolio_stili {
		padding-top: 25px;
		padding-bottom: 80px;
	}
}

@media (max-width: 1280px) {
	.portfolio_stili {
		.portfolio__grid-title {
			font-size: 22px;
			line-height: 27px;
		}
	}
}

@media (max-width: 1024px) {
	.portfolio_stili {
		.portfolio__grid-title {
			font-size: 17px;
			line-height: 21px;
		}
	}
}

@media (max-width: 767px) {
	.portfolio_stili {
		padding: 40px 20px 80px;
	}

	.portfolio_stili {
		.portfolio__grid {
			grid-template-columns: repeat(2, 1fr);
			&-cart {
				&.big-column {
					grid-column-start: 2;
					grid-row-start: 1;
					grid-row-end: 3;
				}
				&.big-row {
					grid-column-start: 1;
					grid-row-start: 3;
					grid-column-end: 3;
				}
			}
		}

		.portfolio__grid-title {
			font-size: 14px;
			line-height: 17px;
		}
	}
}

@media (max-width: 991px) {
	/* Portfolio */

	.portfolio_forroom {
		.portfolio__cart {
			flex-basis: 50%;
			&-content {
				align-items: flex-end;
			}
		}
	}

	.portfolio_page {
		.portfolio__cart {
			flex-basis: 50%;
		}
	}
}

@media (max-width: 767px) {
	/* Portfolio */

	.portfolio_forroom {
		padding: 40px 0 135px;
		.portfolio__carts {
			margin-top: 40px;
		}

		.portfolio__cart {
			flex-basis: 100%;
		}

		.portfolio__title span:last-child {
			font-size: 31px;
			margin-left: 10px;
			margin-top: -15px;
		}

		.portfolio__title span:first-child {
			font-size: 56px;
		}

		.portfolio__cart-content {
			padding: 15px;
			align-items: center;
		}

		.portfolio__cart-title {
			margin-bottom: 0;
			margin-top: 11%;
			font-size: 20px;
		}
	}

	.portfolio_gallery {
		padding-top: 25px;
		.portfolio__title {
			margin-bottom: 40px;
			span {
				&:first-child {
					font-size: 46px;
				}
				&:last-child {
					font-size: 31px;
					margin-left: 0;
					margin-top: -10px;
				}
			}
		}
	}

	.portfolio_page {
		.portfolio__cart {
			flex-basis: 100%;
		}
	}

	.portfolio_service {
		padding-top: 40px;
		.portfolio__title {
			margin-bottom: 15px;
		}
		.portfolio__title-title {
			font-size: 56px;
		}
		.portfolio__title-text {
			font-size: 29px;
			margin-top: -36px;
			margin-left: 6px;
		}
	}
}

@media (max-width: 575px) {
	/* Portfolio */

	.portfolio_forroom {
		.portfolio__title span:first-child {
			font-size: 43px;
		}
	}
}