/* montserrat */

@font-face {
	font-family: 'montserrat';
	src: url('./../fonts/montserrat-thin.woff2') format('woff2'),
		 url('./../fonts/montserrat-thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('./../fonts/montserrat-extraLight.woff2') format('woff2'),
		 url('./../fonts/montserrat-extraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('./../fonts/montserrat-light.woff2') format('woff2'),
		 url('./../fonts/montserrat-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('./../fonts/montserrat-regular.woff2') format('woff2'),
		 url('./../fonts/montserrat-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('./../fonts/montserrat-medium.woff2') format('woff2'),
		 url('./../fonts/montserrat-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('./../fonts/montserrat-semiBold.woff2') format('woff2'),
		 url('./../fonts/montserrat-semiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('./../fonts/montserrat-bold.woff2') format('woff2'),
		 url('./../fonts/montserrat-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('./../fonts/montserrat-extraBold.woff2') format('woff2'),
		 url('./../fonts/montserrat-extraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('./../fonts/montserrat-black.woff2') format('woff2'),
		 url('./../fonts/montserrat-black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}